@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color: white;
}

body {
    flex-wrap: wrap;
    flex-direction: row;
}

li,
a,
header {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid red;
}

a:hover {
    transition: 1s, 1s;
}

.logo {
    cursor: pointer;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
    padding: 0px 20px;
}

.nav li a {
    transition: all 0.3 ease 0s;
}

.nav li a:hover {
    color: red;
}

.about {
    text-align: center;
    display: inline-block;
    padding: 60px;
    width: 30%;
}

.about:hover {
    transition: all 0.3 ease 0s;
    transition: 0.8s, 0.5s;
}

.projects {
    padding: 500px;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.projects h2 {
    text-decoration: underline;
    font-size: 30px;
}

.projects h3 {
    text-align: center;
}

.projects a:hover {
    color: rgb(136, 10, 10);
    transition: all 0.3 ease 0s;
    transition: 0.8s, 0.5s;
}

.plantimg {
    opacity: 0.6;
}

.imgholder {
    padding: 40px;
}

.imgholder2 {
    padding: 40px;
}

.imgholder3 {
    padding: 40px;
}

.float-left {
    margin: 5%;
    border-radius: 100px;
    float: left;
    background-color: rgb(199, 68, 68);
}

ul {
    border-radius: 1px;
    padding: 5px;
}

.about p {
    background-color: rgb(199, 68, 68);
}

.about h2 {
    font-size: 30px;
    background-color: rgb(199, 68, 68);
    text-decoration: underline;
}

.contact h2 {
    text-align: center;
    padding-bottom: 4px;
    background-color: rgb(199, 68, 68);
    padding: 30px;
    margin-top: 0;
    bottom: 0;
}

.contact p {
    background-color: rgb(199, 68, 68);
    text-align: center;
    padding: 5px;
}